$border: solid 1px black;
$textSize: 1.2em;
$smallHeader: 1.5em;
$background1: #98c1d9;
$background2: #e0fbfc;
$background3: #293241;

* {
    font-family:Arial, Helvetica, sans-serif;
}
p {
    max-width: 65ch;
}
body {
    #wrapper {
        position: relative;
        min-height: 100vh;
    }
    #contentWrap {
        padding-bottom: 10em; 
    }
    margin: 0;
    background-color: $background1;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        @media screen and (max-width: 500px) {
            flex-direction: column;
        }
        display: flex;
        background-color: $background3;
        justify-content: space-between;
        margin-bottom: 2em;
        h1 {
            margin-left: 1em;
            @media screen and (max-width: 700px) {
                margin-left: 0.4em;
                margin-bottom: 0;
            }
        }
        h1, a {
            color: white;
        }
        nav {
            display: flex;
            @media screen and (min-width: 700px) {
                width: clamp(200px, 40%, 400px);
            }
            @media screen and (max-width: 700px) {
                flex-direction: column;
            }
            justify-content: space-around;
            margin: auto;
            margin-right: 0;
            h2 {
                white-space: nowrap;
                @media screen and (max-width: 700px) {
                    margin: 0.5em;
                    text-align: end;
                }
            }
        }
    }
    section {
        display: grid;
        margin: auto;
        width: clamp(200px, 100%, 2000px);
        grid-template-columns: 1fr;
        @media screen and (min-width: 1500px) {
            grid-template-columns: 1fr 1fr;
        }
        row-gap: 2em;
        column-gap: 2em;
        article {
            margin: 1em;
            background-color: $background2;
            border: $border;
            border-radius: 25px;
            padding: 1em;
            display: grid;
            column-gap: 1.5em;
            grid-template-columns: 1fr;
            @media screen and (min-width: 1500px) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: 1500px) {
                margin: auto;
            }
            row-gap: 0;
            picture {
                display: flex;
                justify-content: center;
                flex-direction: column;
                grid-column: 1;
                grid-row: 1;
                img {
                    width: clamp(150px, 100%, 800px);
                    border-radius: 25px;
                }
            }
            .bigText {
                @media screen and (min-width: 1500px) {
                    grid-column: 2;
                    grid-row: 1/3;
                }
                blockquote {
                    font-style: italic;
                }
            }
            .smallText {
                grid-column: 1;
                grid-row: 2;
            }
            div {
                h1 {
                    font-size: $smallHeader;
                }
                p {
                    font-size: $textSize;
                }
            }
        }
    }
    #error {
        grid-column: 1;
        background-color: rgb(243, 88, 88);
    }
    #forms {
        margin-bottom: 2em;
        @media screen and (max-width: 1500px) {
            display: flex;
            flex-direction: column;
        }
        form {
            grid-column: 1;
            background-color: $background2;
            display: flex;
            flex-direction: column;
            width: clamp(200px, 60%, 800px);
            padding: 1em;
            border-radius: 25px;
            margin: auto;
            input {
                max-width: 50%;
                margin: 0.4em;
                margin-left: 0;
            }
            button {
                margin-top: 1em;
            }
        }
        picture {
            grid-column: 2;
            grid-row: 1/4;
            align-self: center;
            img {
                width: clamp(150px, 100%, 800px);
            }
        }
    }
    #userinfo {
        display: flex;
        flex-direction: column;
        background-color: $background2;
        width: clamp(200px, 60%, 800px);
        padding: 1em;
        border-radius: 25px;
        h3 {
            margin: 0.1em;
        }
    }
    #foot{
        background-color: $background3;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10em;  
        h2 {
            color: white;
            margin-left: 1em;
        }
        h5 {
            color: white;
            font-size: 2em;
            margin-top: 1em;
            text-align: end;
            margin: 1em;
        }
    }
}